Source: polaric-db-plugin
Section: hamradio
Priority: optional
Maintainer: Øyvind Hanssen <ohanssen@acm.org>
Build-Depends: debhelper (>= 8.0.0), openjdk-8-jdk, scala (>> 2.11)
Standards-Version: 3.9.6
Homepage: http://aprs.no/dokuwiki

Package: polaric-db-plugin
Architecture: all
Depends: polaric-aprsd (>= 1.8), postgresql-client, libpostgresql-jdbc-java, libpostgis-java, libcommons-pool-java, libcommons-dbcp-java, ${misc:Depends}
Recommends: postgresql, postgis
Description: Polaric Server: APRS daemon part. 
 The "Polaric Server" which is mainly a web based service to present APRS 
 tracking information on maps and where the information is updated at real-
 time. It is originally targeted for use by radio amateurs in voluntary search
 and rescue service in Norway. It consists of a web application and a server 
 program (APRS daemon). 
 .
 This is a plugin that adds database storage. Mainly historical data. It is still
 in an experimental stage. 
