Source: polaric-db-plugin
Section: hamradio
Priority: optional
Maintainer: Øyvind Hanssen <ohanssen@acm.org>
Build-Depends: debhelper (>= 10),openjdk-17-jdk-headless|openjdk-18-jdk-headless|openjdk-19-jdk-headless|openjdk-20-jdk-headless, scala (>> 2.11.12), libhikaricp-java
Standards-Version: 3.9.8
Homepage: http://aprs.no/polaricserver

Package: polaric-db-plugin
Architecture: all
Depends: polaric-aprsd (>= 2.12), postgresql-client, libpostgresql-jdbc-java, libpostgis-java, libhikaricp-java ${misc:Depends}
Recommends: postgresql, postgis
Description: Polaric Server: APRS daemon part. 
 The "Polaric Server" is mainly a web based service to present APRS 
 tracking information on maps and where the information is updated at real-
 time. It is originally targeted for use by radio amateurs in voluntary search
 and rescue service in Norway. It consists of a web application and a server 
 program (APRS daemon). 
 .
 This is a plugin that adds database storage using PostgreSQL (with PostGIS). 
 It is still in a somewhat experimental stage. 
